/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

/* ------------------------------------------ */

/* Estilos gerais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

.title {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.title span {
  color: #0E2431;
  font-size: 30px;
  font-weight: 600;
  position: relative;
  padding-bottom: 8px;
}

.title span::before,
.title span::after {
  content: '';
  position: absolute;
  height: 3px;
  width: 100%;
  background: #46B2E4;
  left: 0;
  bottom: 0;
}

.subtitle {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.subtitle span {
  color: #0E2431;
  font-size: 20px;
  font-weight: 300;
  position: relative;
  padding-bottom: 8px;
}

/* ------------------------------------------ */

/* Scroll Bar CSS */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to bottom right, #46B2E4, #12BFD2);
  border-radius: 12px;
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background-image: linear-gradient(to bottom right, #46B2E4, #12BFD2);
}

/* ------------------------------------------ */

/* Menu de navegacao */

nav {
  position: fixed;
  width: 100%;
  padding: 10px 0;
  z-index: 998;
  transition: all 0.3s ease;
  font-family: sans-serif;
  background-image: linear-gradient(to bottom right, #46B2E4, #12BFD2);
}

nav .navbar {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.logo {
  max-width: 80px;
}

nav .navbar .menu {
  display: flex;
  position: relative;
}

nav .navbar .menu li {
  list-style: none;
  margin: 0 8px;
}

.navbar .menu a {
  font-size: 18px;
  font-weight: 500;
  color: #FFF;
  padding: 6px 0;
  transition: all 0.4s ease;
}

.navbar .menu a:hover {
  color: #0E2431;
}

.navbar .icones_media_branco a {
  color: #FFF;
  font-size: 18px;
  margin: 0 6px;
}

/* Menu de navegação lateral CSS */
nav .menu-btn,
.navbar .menu .cancel-btn {
  position: absolute;
  color: #fff;
  right: 30px;
  top: 20px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: none;
}

nav .menu-btn {
  color: #FFF;
}

.navbar .menu .menu-btn {
  color: #fff;
}

/* ------------------------------------------ */

/* Seção Home */

.home-content {
  width: 80%;
  margin: auto;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  margin: auto;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
}

.home-detalhes {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-content-right {
  padding-left: 40px;
}

.home-content-left {
  max-width: 550px;
  min-width: 400px;
}

.home .home-content img {
  max-width: 450px;
}

.home .text-nome {
  font-size: 50px;
  margin: 5px 0;
  color: #46B2E4;
  text-align: center;
}

.home .text-profissao {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.home .text-profissao p {
  color: #0E2431;
  font-size: 35px;
  font-weight: 600;
  position: relative;
  padding-bottom: 8px;
  text-align: center;
}

/* ------------------------------------------ */



/* Seção - Sobre Mim */

section .content {
  width: 80%;
  margin: auto;
  font-family: 'Poppins', sans-serif;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
}

.sobre-detalhes {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sobre-detalhes .left {
  padding-right: 40px;
}

.sobre-detalhes .right {
  max-width: 550px;
  min-width: 400px;
}

.topico {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.topico p {
  justify-content: center;
  padding-bottom: 6px;
  color: #46B2E4;
  font-size: 28px;
  font-weight: 600;
}

.button {
  margin-top: 20px;
}

.button a {
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 25px;
  font-weight: 400;
  background: #46B2E4;
  color: #fff;
  border: 2px solid transparent;
  cursor: pointer;
}


/* ------------------------------------------ */

/* Dados de Contato */

.contato {
  background: #F0F8FF;
}

.contato .content {
  margin: 0 auto;
  padding: 30px 0;
}

.contato .text {
  width: 80%;
  text-align: center;
  margin: auto;
}

.icone {
  color: #46B2E4;
  font-size: 18px;
  margin: 0 6px;
}

/* ------------------------------------------ */
/* Seção Projetos e Serviços */

.services .boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.services .boxes .box {
  margin: 20px 0;
  width: calc(100% / 3 - 20px);
  text-align: center;
  border-radius: 12px;
  padding: 30px 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
  cursor: default;
  transition: all 0.4s ease;
}

.services .boxes .box a {
  color: inherit;
}

.services .boxes .box:hover {
  background: #46B2E4;
  color: #fff;
}

.services .boxes .box .icon {
  height: 50px;
  width: 50px;
  background: #46B2E4;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  font-size: 18px;
  color: #fff;
  margin: 0 auto 10px auto;
  transition: all 0.4s ease;
}

.boxes .box:hover .icon {
  background-color: #fff;
  color: #46B2E4;
}

.services .boxes .box:hover .topic,
.services .boxes .box:hover p {
  color: #0E2431;
  transition: all 0.4s ease;
}

.services .boxes .box:hover .topic,
.services .boxes .box:hover p {
  color: #fff;
}

/* ------------------------------------------ */

/* Footer */
footer {
  background: #46B2E4;
  padding: 15px 0;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

footer .text span {
  font-size: 17px;
  font-weight: 400;
  color: #fff;
}

/* ------------------------------------------ */

/* Responsividade - Media Query */

@media (max-width: 1190px) {
  section .content {
    width: 85%;
  }
  .home .home-content {
    width: 85%;
  }
  .contato .text {
    width: 85%;
  }
}

@media (max-width: 1000px) {

  .home .home-detalhes {
    justify-content: center;
    flex-direction: column;
  }
  
  .home-content-left {
    width: 90%;
    margin: 40px 0;
  }
  
  .home-content-right {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0px;
  }

  .sobre .content {
    margin-top: 300px;
  }

  .sobre-detalhes {
    justify-content: center;
    flex-direction: column;
  }
  
  .sobre-detalhes .left {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0px;
  }
  
  .sobre-detalhes .right {
    width: 90%;
    margin: 40px 0;
  }

  .services .boxes .box {
    margin: 20px 0;
    width: calc(100% / 2 - 20px);
  }
}

@media (max-width: 900px) {
  .sobre-detalhes .left img {
    max-width: 350px;
  }
  .home .home-content img {
    max-width: 350px;
  }
}

@media (max-width: 750px) {
  nav .navbar {
    width: 90%;
  }

  nav .navbar .menu {
    position: fixed;
    left: -100%;
    top: 0;
    background: #0E2431;
    height: 100vh;
    max-width: 400px;
    width: 100%;
    padding-top: 60px;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s ease;
  }

  .navbar.active .menu {
    left: 0;
  }

  nav .navbar .menu a {
    font-size: 23px;
    display: block;
    color: #fff;
    margin: 10px 0;
  }

  nav .navbar .menu a:hover {
    color: #46B2E4;
  }

  nav .navbar .icones_media_branco {
    display: none;
  }

  nav .menu-btn,
  .navbar .menu .cancel-btn {
    display: block;
  }

  .home .text-two {
    font-size: 65px;
  }

  .home .text-three {
    font-size: 35px;
  }

  .skills .skills-details {
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .skills-details .text {
    width: 100%;
    margin-bottom: 50px;
  }

  .skills-details .boxes {
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .services .boxes .box {
    margin: 20px 0;
    width: 100%;
  }

  .contact .text {
    width: 100%;
  }
}

@media (max-width: 500px) {

  .skills-details .boxes .per {
    font-size: 50px;
    /* color: #4070f4; */
    color: #46B2E4;
  }
}

/* ------------------------------------------ */